@font-face {
  font-family: "MyFont";
  src: url("./KyoboHandwriting2021sjy.otf") format("woff2"),
    url("./Puradak\ Gentle\ Gothic\ OTF.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MyFont";
  background: url("./icon.png");
}
